<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
   <!-- START navbar header-->
   <div class="navbar-header">
      <a href="#/" class="navbar-brand">
         <div class="brand-logo">
            <img src="images/logo.png" alt="App Logo" class="img-responsive" />
         </div>
         <div class="brand-logo-collapsed">
            <img src="images/logo-single.png" alt="App Logo" class="img-responsive" />
         </div>
      </a>
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div class="nav-wrapper">
      
      <ul class="nav navbar-nav navbar-right">
         <li><p class="nav navbar-text">{{currentAuth.passsword.email}}</p></li>
         <li><a href="" ng-click="logout()"> <em class="icon-logout"></em></a></li>
      </ul>
      
   </div>
</nav>
