<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
   <!-- START navbar header-->
   <div class="navbar-header">
		 <a class="navbar-brand" href="#">
			 <span><h4 style="color:white">Sentiment Search</h4></span>
		 </a>
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div class="nav-wrapper">
      
      <ul class="nav navbar-nav navbar-right">
         <li><p class="nav navbar-text">{{currentAuth.passsword.email}}</p></li>
         <li><a href="" ng-click="logout()">Logout <em class="icon-logout"></em></a></li>
      </ul>
      
   </div>
</nav>
