<!-- top navbar-->
<header ng-include="'views/partials/top-navbar.html'" class="topnavbar-wrapper"></header>
<!-- sidebar-->

<div class="container-fluid view-container">
  <div class="row" style="padding-top: 10px;">
    <div class="col-md-9">
      <h4>Jones Family Project</h4>
    </div>  
    <!--<div class="col-md-2 pull-right">-->
      <!--<div class="btn-group">-->
         <!--<label ng-model="btn.mode" uib-btn-radio="'Basic'" class="btn btn-pill-left btn-default">Basic</label>-->
         <!--<label ng-model="btn.mode" uib-btn-radio="'Advanced'" class="btn btn-oval btn-default">Advanced</label>-->
      <!--</div>-->
    <!--</div>-->
  </div>

  <div class="row">
    <div class="col-md-4">
      <!-- START List group-->
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row row-table pv-lg">
            <div class="col-xs-6">
              <p class="m0 lead">{{apiData.overall}}</p>
              <p class="m0">
              <small>Overall Sentiment Score</small>
              </p>
            </div>
            <div class="col-xs-6 text-center">
              <div sparkline="" data-bar-color="#23b7e5" data-height="60" data-bar-width="10" data-bar-spacing="6" data-chart-range-min="0" values="3,6,7,8,4,5" class="ng-isolate-scope"><canvas width="90" height="60" style="display: inline-block; width: 90px; height: 60px; vertical-align: top;"></canvas></div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row row-table pv-lg">
            <div class="col-xs-4">
              <h5>Review Sources</h5> 
            </div>
            <div class="col-xs-8">
              <ul class="list-inline text-right">
                <li ng-repeat="s in reviewSources">
                  <p class="m0 lead">{{s.count}}</p>
                  <p class="m0">
                  <small>{{s.source}}</small>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <!-- END List group-->
    </div>
    <div class="col-md-8">
      <!-- START bar chart-->
      <div id="panelChart3" class="panel">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="col-md-12"><em class="icon-bar-chart"></em>  Sentiment Score per category</div>
          </div>
        </div>
        <!-- <div collapse="panelChart3" class="panel-wrapper collapse in graph"> -->

        <div class="panel-body">
          <div class="col-md-6">
            <nvd3 options="chartOptions.optionsBar" data="dataBar"></nvd3>
          </div>
          <div class="col-md-6">
            <nvd3 options="chartOptions.optionsMultiBar" data="dataMultiBar"></nvd3>
          </div>
        </div>

        </div>
        <!-- END bar chart-->
      </div>
    </div>

      <div class="row">
        <div class="col-md-4">
          <!-- START bar chart-->
          <div class="panel">
            <div class="panel-heading">
              <div class="panel-title">
                <div class="col-md-12"><em class="icon-pie-chart"></em>  Review Breakdown</div>
              </div>
            </div>
            <div class="panel-body">
              <nvd3 options="chartOptions.optionsPie" data="dataPie"></nvd3>
              <nvd3 options="chartOptions.optionsPieAdvanced" data="dataPie_advanced"></nvd3>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="panel">
            <div class="panel-heading">
              <div class="panel-title">
                <div class="col-md-12"><em class="icon-eye"></em>  {{activeCategory | capitalize}}</div>
              </div>
            </div>
            <div class="panel-body">
              <table st-table="displayed" st-safe-src="rowCollection" class="table table-striped">
                <thead>
                  <tr>
                    <th class="col-md-2" st-sort="Date">Date <i class="fa fa-fw fa-sort"></i></th>
                    <th class="col-md-6">Text</th>
                    <th class="col-md-2" st-sort="Sentiment">Sentiment <i class="fa fa-fw fa-sort"></i></th>
                    <th class="col-md-2">Source</th>
                  </tr>
                  <tbody>
                    <tr ng-repeat="row in displayed">
                      <td>{{row.Date}}</td>
                      <td>{{row.Text}}</td>
                      <td>{{row.Sentiment}}</td>
                      <td><a ng-href="{{row.Url}}" target="_blank">{{row.Source}}</a></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="14"> </div>
                      </td>
                    </tr>
                  </tfoot>
              </table>
            </div>
          </div>

        </div>
      </div>

  </div>
  <!-- end container -->

  <!-- Page footer-->
  <footer ng-include="'views/partials/footer.html'"></footer>
